@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');
*{
    background-color: lightsteelblue;
    padding: 10px 20px 10px 20px;
}

h5 {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    color: slateblue;
}
p {
justify-content: center;
text-align: justify;
color: whitesmoke ;
font-size: 15px;
background-color: red;

}